.about-project {
  font-family: 'Inter', 'Arial', 'sans-serif';
  display: flex;
  background: #FFFFFF;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.about-project__title-box {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.about-project__title {
  display: flex;
  margin: 0 0 23px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

@media (max-width: 425px) {
  .about-project__title {
    margin: 0 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__box {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 690px) {
  .about-project__box {
    margin-top: 0;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .about-project__box {
    margin-top: 0;
    flex-direction: column;
  }
}

.about-project__block {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 550px;
}

@media (max-width: 768px) {
  .about-project__block {
    margin-top: 60px;
  }
}

.about-project__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em; 
  color: #000000;
  margin: 0 40px 0 0;
  max-width: 550px;
}


@media (max-width: 1040px) {
  .about-project__subtitle {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 560px) {
  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }
}

.about-project__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 26px 40px 0 0;
}


@media (max-width: 1040px) {
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 30px 0 0;
  }
}

@media (max-width: 560px) {
  .about-project__text {
    font-size: 11px;
    line-height: 16px;
    margin: 16px 0 0 0;
  }
}

.about-project__line-box {
  display: flex;
  flex-direction: row;
  margin: 110px 0 0 0;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .about-project__line-box {
    margin: 60px 0 0 0;
  }
}

.about-project__line {
  width: 19%;
  text-align: center;
  height: 36px;
  background: #2BE080;
}

@media (max-width: 560px) {
  .about-project__line {
    width: 42%;
  }
}

.about-project__line_large {
  background: #F2F2F2;
  width: 81%;
}

.about-project__line-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 9px 14px;
}

@media (max-width: 560px) {
  .about-project__line-subtitle {
    margin: 11px 10px;
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project__line-subtitle_grey {
  margin: 0;
  padding: 14px 0 0 0;
  font-weight: 500;
  color: #A0A0A0;
}

@media (max-width: 425px) {
  .about-project__line-subtitle_grey {
    padding: 10px 0 0 0;
  }
}

.about-project__container {
  display: flex;
  justify-content: space-between;
  margin: 110px 70px;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .about-project__container {
    margin: 90px 50px;
  }
}

@media (max-width: 425px) {
  .about-project__container {
    margin: 70px 18px;
  }
}